<header>
  <%= render 'shared/navbar' %>
  <div class="top-header">
    <%= image_tag 'top-header', class: "top-header--image" %>
  </div>
  <div class="top-menu">
    <div class="container-fluid">
      <table class="top-menu--list">
        <tr>
          <th><%= link_to "All", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Life", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Gadget", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Tech", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Music", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "About Me", "#", class: "top-menu--list-item" %></th>
        </tr>
      </table>
    </div>
  </div>
</header>
<div class="container">
  <h1>Top#index</h1>
  <p>Find me in app/views/top/index.html.erb</p>
</div>
<%= render 'shared/footer' %>
