<header>
  <%= render 'shared/navbar' %>
  <div class="top-header">
    <%= image_tag 'top-header', class: "top-header--image hidden-xs" %>
    <%= image_tag 'top-header-xs', class: "top-header--image visible-xs" %>
  </div>
  <div class="top-menu">
    <div class="container-fluid">
      <table class="top-menu--list">
        <tr>
          <th><%= link_to "All", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Life", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Gadget", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Tech", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Music", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "About&nbsp;Me".html_safe, "#", class: "top-menu--list-item" %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="container-fluid slider-container">
      <div class="post-slider">
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
      </div>
  </div>
</header>
<div class="main-wrapper">
  <div class="container-fluid main-container">
    <div class="row posts-wrapper">
      <div class="posts">
        <h2 class="main-title">New Posts</h2>

        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトルhirozak タイトルhirozak タイトルhirozak タイトルhirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row posts-wrapper">
      <div class="posts">
        <h2 class="main-title">Popular Posts</h2>

        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトルhirozak タイトルhirozak タイトルhirozak タイトルhirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="sub-wrapper">
  <div class="container-fluid main-container">
    <div class="row sub">
      <div class="col-md-8 col-xs-12 profile">
        <h2 class="profile-title">About Me</h2>
        <div class="col-md-5 col-sm-5 col-xs-5 profile-image">
          <%= image_tag 'profile-image', class: "profile-image--item" %>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 profile-info">
          <p class="profile-info--name">hirozak</p>
          <div class="profile-info--link">
            <%= link_to "https://twitter.com/xringoxr", {class: "profile-info--sns icon-sns icon-twitter", target: "_blank"} do %>
              <%= fa_icon "twitter 2x" %>
            <% end %>
            <%= link_to "https://www.instagram.com/hirozak/", {class: "profile-info--sns icon-sns icon-instagram", target: "_blank"} do %>
              <%= fa_icon "instagram 2x" %>
            <% end %>
            <%= link_to "https://github.com/hirozak", {class: "profile-info--sns icon-sns icon-github", target: "_blank"} do %>
              <%= fa_icon "github 2x" %>
            <% end %>
          </div>
          <div class="profile-info--description">
            <p>大学4年生(Now) → ITエンジニア</p>
            <p class="hidden-xs">音楽, 映画, 海外ドラマ, ガジェット, インテリア, お酒</p>
            <p class="hidden-xs">が好きです。</p>
            <%= link_to "詳しく見る", "#", class: "btn btn-outline-default btn-round" %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 this_blog">
        <h2 class="this_blog-title">This Blog</h2>
        <div class="this_blog-description">
          <p>hirozakがRuby on Railsで開発しています。</p>
          <p>このブログはOSSです。</p>
          <%= link_to "https://github.com/hirozak/hirozak", "https://github.com/hirozak/hirozak", target: "_blank" %>
        </div>


      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
