<header>
  <%= render 'shared/navbar' %>
  <div class="top-header">
    <%= image_tag 'top-header', class: "top-header--image hidden-xs" %>
    <%= image_tag 'top-header-xs', class: "top-header--image visible-xs" %>
  </div>
  <div class="top-menu">
    <div class="container-fluid">
      <table class="top-menu--list">
        <tr>
          <th><%= link_to "All", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Life", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Gadget", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Tech", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "Music", "#", class: "top-menu--list-item" %></th>
          <th><%= link_to "About&nbsp;Me".html_safe, "#", class: "top-menu--list-item" %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="container-fluid slider-container">
      <div class="post-slider">
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
        <div class="post-slider--item"><p>test</p></div>
      </div>
  </div>
</header>
<div class="main-wrapper">
  <div class="container-fluid main-container">
    <div class="row posts-wrapper">
      <div class="posts">
        <h2 class="main-title hidden-xs">New Posts</h2>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトルhirozak タイトルhirozak タイトルhirozak タイトルhirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 post-list">
          <div class="post-item">
            <div class="col-md-4 col-sm-4 col-xs-5 post-item--side">
              <%= link_to "#", class: "post-item--image" do %>
                <%= image_tag 'post-image', class: "post-item--image__item" %>
              <% end %>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-7 post-item--main">
              <h3 class="post-item--main_title">hirozak タイトル</h3>
              <div class="post-item--main_info">
                <%= link_to "Travel", "#", class: "post-item--main_info__category" %>
                <span class="post-item--main_info__date">
                  2018/06/07
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="side">
        <h1 class="side-title">Side</h1>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
