<div class="sub-wrapper">
  <div class="container-fluid sub-container">
    <div class="row sub">
      <div class="col-md-8 col-xs-12 profile">
        <h2 class="profile-title">About Me</h2>
        <div class="col-md-5 col-sm-5 col-xs-5 profile-image">
          <%= image_tag 'profile-image', class: "profile-image--item" %>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7 profile-info">
          <p class="profile-info--name">hirozak</p>
          <div class="profile-info--link">
            <%= link_to "https://twitter.com/xringoxr", {class: "profile-info--sns icon-sns icon-twitter", target: "_blank"} do %>
              <%= fa_icon "twitter 2x" %>
            <% end %>
            <%= link_to "https://www.instagram.com/hirozak/", {class: "profile-info--sns icon-sns icon-instagram", target: "_blank"} do %>
              <%= fa_icon "instagram 2x" %>
            <% end %>
            <%= link_to "https://github.com/hirozak", {class: "profile-info--sns icon-sns icon-github", target: "_blank"} do %>
              <%= fa_icon "github 2x" %>
            <% end %>
          </div>
          <div class="profile-info--description">
            <p>エンジニア</p>
            <p>音楽, 映画, 海外ドラマ, ガジェット, インテリア, お酒が好きです。</p>
            <%= link_to "詳しく見る", "../about", class: "btn btn-outline-default btn-round" %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 this_blog">
        <h2 class="this_blog-title">This Blog</h2>
        <div class="this_blog-description">
          <p>このブログはhirozakがRuby on Railsで開発しました。</p>
          <p>GitHubにて、ソースコードを公開しています。</p>
          <div class="this_blog-description--link">
            <div class="blogCard blogCard--noimg">
              <div class="blogCardCont">
                <div class="blogCardTxt">
                  <p class="blogCardTitle"><a href="https://github.com/hirozak/hirozak.space" target="_blank">hirozak/hirozak.space</a></p>
                  <p>hirozak.space - my blog</p>
                </div>
              </div>
              <div class="blogCardFooter">
                <a href="https://github.com/hirozak/hirozak.space"><img src="https://github.githubassets.com/pinned-octocat.svg" alt="">github.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
