<% set_meta_tags title: "Categories", og: { title: "Categories", type: 'website' }, twitter: { title: "Categories" } %>
<header>
  <%= render 'shared/navbar' %>
  <%= render 'shared/header_image' %>
  <%= render 'shared/header_menu' %>
</header>
<div class="container-fluid main-container">
  <div class="row posts-wrapper">
    <div class="categories col-md-6 col-md-offset-3">
      <h2 class="main-title">Categories</h2>
      <div class="category-list">
        <%= render @categories %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/sub_content' %>
<%= render 'shared/footer' %>
